<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
 <h3>Hi <%= @user.first_name %> <%= @user.last_name %></h3>
   <p>Congratulations!! You have added a new vehicle to the parking system!
   Vehicle details:</p><br>
   <p> Model: <%= @vehicle.model %></p><br>
   <p> VIN: <%= @vehicle.vin %></p><br>
   <p> Year: <%= @vehicle.year %></p><br>
  </body>
</html>
