<h1> Vehicles </h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th>                Model              </th>
      <th>                VIN              </th>
      <th>                Year              </th>
      <th>                Action            </th>
    </thead>
    <tbody>
      <% @vehicles.each do |vehicle|%>
        <tr>
          <td><%= vehicle.model %></td>
          <td><%= vehicle.vin %></td>
          <td><%= vehicle.year %></td>
          <td>
            <div class="row">
              <%= link_to "Edit",
                        edit_user_vehicle_path(current_user, vehicle),
                        class: 'btn btn-default' %>
              <%= link_to "Delete",
                  user_vehicle_path(current_user, vehicle), method: 'delete',
                  class: 'btn btn-danger',
                  data: {confirm: "Are you sure?"} %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row">
  <%= link_to "Add vehicle",
  new_vehicle_path,
  class: 'btn btn-default btn-md'%>
</div>
