<h1> Location </h1>
<div class="table-striped table-responsive">
  <table class="table">
    <thead>
    <th>                Name              </th>
    <th>                Description              </th>
    <th>                Address              </th>
    <th>                Map              </th>
    <th>                # Slots              </th>
    </thead>
    <tbody>
      <% @locations.each do |location|%>
        <tr>
        <td><%= location.name %></td>
        <td><%= location.description %></td>
        <td><%= location.address %></td>
          <% unless location.latitude.nil? && location.longitude.nil? %>
            <td>
              <%= image_tag "http://maps.google.com/maps/api/staticmap?size=150x150&sensor=false&zoom=14&markers=#{location.latitude}%2C#{location.longitude}" %>
            </td>
          <%end%>
        <td><%= location.max_slots %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
